
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFFCFA;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    padding: 30px;
    display: grid;
    grid-template-columns: auto;
    background
}

#input-section {
    display: grid;
    grid-template-columns: auto;
    width: 50px;
}

header {
    background-color: red;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    background-color: blue;
    padding: 10px;
}

.highlight {
    color: red;
}

#main-text {
    visibility: hidden;
}