
body {        
    font-family: 'Noto Sans', sans-serif;
    background-color: #FFFCFA;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    padding: 30px;
    display: grid;
    grid-template-columns: auto;
    background-image: url("../assets/flag.jpg");
}

#input-section {
    display: grid;
    grid-template-columns: auto;
    width: 50px;
}

input {
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    color: darkblue;
}

header {
    background-color: red;
    color: white;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    background-color: hsla(225, 5%, 95%, 0.70);
    width: 200px;
    border-radius: 5px;
}

button {
    border-radius: 5px;
}

footer {
    background-color: blue;
    padding: 10px;
    color: white;
}

.highlight {
    color: red;
    font-weight: bold;
}

#main-text {
    visibility: hidden;
    background-color: hsla(225, 5%, 95%, 0.70);
    width: 450px;
    padding: 20px;
    margin-top: 5px; 
    border-radius: 15px;
}